
/templates/usecar_ki_system/ios/
/templates/usecar_ki_system/macos/
/templates/usecar_ki_system/android/
/templates/usecar_ki_system/windows/
/templates/usecar_ki_system/build/
/templates/usecar_ki_system/.dart_tool/
/templates/usecar_ki_system/.idea/
/templates/usecar_ki_system/.vscode/
/templates/usecar_ki_system/web/
/templates/usecar_ki_system/windows/
/templates/usecar_ki_system/test/
/templates/usecar_ki_system/linux/
/templates/usecar_ki_system/.dart_tool/
/templates/usecar_ki_system/.idea/
/templates/usecar_ki_system/.metadata
/templates/usecar_ki_system/analysis_options.yaml
**/templates/MyApplication/
**/MyApplication/
/Data/usecar_image/

**/backend/5-modelling/catboost_info/
**/backend/__pycache__/
**/backend/Data/usecar_image/
__pycache__/
*.py[cod]








